.level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin-bottom: 30px;
}

.flex {
    display: flex;
}

[v-cloak] {
    display: none;
}

.card-success {
    background-color: #98fb98;
}

.ais-highlight > em {
    background-color: yellow;
    font-style: normal;
}

.search-wrapper {
    display: flex;
    justify-content: space-around;
}